<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Autoservis</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
        <link rel="stylesheet" href="{$basePath}/css/style.css">
</head>

<body class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" n:href="Homepage:default">Autoservis</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" n:href="Homepage:default" n:if="$user->isLoggedIn()">Automobily</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" n:href="Majitele:majitele" n:if="$user->isLoggedIn()">Majitelé</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" n:href="Opravy:opravy" n:if="$user->isLoggedIn()">Opravy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" n:href="Soucastky:soucastky" n:if="$user->isLoggedIn()">Součástky</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" n:href="TypVozu:typvozu" n:if="$user->isLoggedIn()">Typ vozu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" n:href="Zamestnanci:Zamestnanci" n:if="$user->isLoggedIn()">Zaměstnanci</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" n:href="Sign:in" n:if="!$user->isLoggedIn()">Přihlásit se</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" n:href="Sign:out" n:if="$user->isLoggedIn()">Odhlásit se</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}

	{block scripts}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
  <script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	{/block}
</body>
</html>
