
{block content}
  <div class="container">

        <h1 class="display-4" style="text-align:center;">Editace úkolu</h1>

{control postForm}
<br>
<!-- <a n:href="default"><button class="button btn btn-danger col-lg-12 col-md-12 col-sm-12" name="back" value="back">Zpět</button></a> -->
</div>

